<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .item {
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
            margin-bottom: 16px;
            padding: 10px;
            background: #fff;
            height: 100px;
            width: 40%;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 90px;
        }
        .game-name{
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="首页" name="first">
                <img height="100%" width="100%" src="https://img.tapimg.com/market/images/176bad03a542630fd8bc9e0202e6ac7b.jpg?imageMogr2/auto-orient/thumbnail/2080x/strip/gravity/Center/crop/2080x828/format/jpg/quality/80/interlace/1"
                />
            </el-tab-pane>
            <el-tab-pane label="排行榜" name="second">
                <div class="item">
                    <el-row>
                        <el-col :span="3" class="item-son">
                            <img height="80px" width="80px" src="https://img.tapimg.com/market/icons/d9ba6610194b126038667688db485fd4_360.png?imageMogr2/auto-orient/strip">
                        </el-col>
                        <el-col :span="21" class="item-son">
                            <h4 class="game-name">300大作战</h3>
                            <div class="grid-content bg-purple-dark">
                                <el-rate show-score v-model="value1"></el-rate>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </el-tab-pane>
            <el-tab-pane label="用户中心" name="third">用户中心</el-tab-pane>
        </el-tabs>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return { 
                visible: false,
                value1:8.2
            }
        }
    })
</script>

</html>